<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h3>Attempt all the following questions</h3>
    </div>
  </div>

  <form (submit)="onSubmit(examForm)" #examForm="ngForm">
    <div class="row">
      <div class="col-sm-12 mt-3" *ngFor="let item of questionsList; let i = index;">
        <h5>
          <i class="fas fa-star mr-2"></i> {{ item.question }}
          <span class="float-right text-info"> {{ item.marks }} marks</span>
        </h5>
        <div class="row ml-5" formArray>
          <div class="col-sm-12" *ngFor="let option of item.options">
            <input class="form-check-input" [name]="item.id" type="radio" [id]="option" [value]="option" ngModel #item.id="ngModel" required>
            <label class="form-check-label" [for]="option">
              {{option}}
            </label>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <div class="row mt-4 mb-5">
      <div class="col-sm-12">
        <button class="btn btn-success" type="submit" [disabled]="!examForm.valid" *ngIf="!isLoading">
          Submit
        </button>

        <div class="d-flex justify-content-center" *ngIf="isLoading">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>


      </div>
    </div>
  </form>

</div>
